<section id="references">
    <div class="container  mb-5" >
        <h2><strong>Recommendations</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="card shadow-lg  rounded pb-3" data-aos="fade-right" data-aos-delay="300">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="not-active active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="not-active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2" class="not-active"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img  src="assets/images/coming_soon.jpg" style="height: 400px; width: auto;">
                    </div>
                    <div class="carousel-item">
                      <img  src="assets/images/coming_soon.jpg"  style="height: 400px; width: auto;">
                    </div>
                    <div class="carousel-item">
                      <img  src="assets/images/coming_soon.jpg"  style="height: 400px; width: auto;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
