<section id="about">
    <div class="container">
        <h2><strong>About</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right" >

                <picture>
                    <img src="assets/images/profile2.jpg" alt="photo de profil" class="img-fluid">
                </picture>
               <div class="d-flex justify-content-center">
                    <a  class="btn-social-media" href="https://www.linkedin.com/in/saivaraprasad" rel="tooltip" target="_blank"  title="Follow me on Linkedin">
                        <i  class="fa fa-linkedin fa-lg "></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://github.com/varaprasadreddy9676/" rel="tooltip" target="_blank" title="Follow me on GitHub" >
                        <i  class="fa fa-github fa-lg "></i></a>
                </div>


            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Application Developer &amp;Cross Platforms.</h3>
                <p class="font-italic">

Interested in new technologies and working strategies. I like to come up with ideas that allow
to improve business processes.
                    <br>Passionate about development <b>Back-End</b> and <b>Front-End</b>.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong> Bangalore</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="building"></fa-icon><strong> Bangalore, India</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:varaprasadreddy9676@gmail.com">
                                       varaprasadreddy9676@gmail.com</a></strong>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> 25 December</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> Graduate in Computer Science</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="home"></fa-icon><strong> Bangalore</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                  I want to be part of an innovative and user-centric company, and contribute my best to meet the requirements of
                  customer, from his idea to the final delivery of his project, or participate in the improvement of an existing project.
                </p>
            </div>
        </div>
    </div>
</section>
